@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-4">Tubicute</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with tubicute</a>.</p>
</div>

